.main {
  padding: 0 1em;
}

.sidebar {
  text-align: center;
  padding: 1em 1em 0;
}

@media only screen and (min-width: 52em) {
  .sidebar {
    width: 15em;
    min-width: 15em;
    float: left;
    border-right: 1px #eee solid;
    text-align: left;
  }

  .main {
    padding: 1em 2em 2em;
  }

  .sidebar {
    padding: 2em;
  }
}

.face {
  width: 9em;
}