.main {
  padding: 0 1em;
  overflow-wrap:break-word;
}

.sidebar {
  text-align: center;
  padding: 1em 1em 0;
}

@media only screen and (min-width: 52em) {
  .sidebar {
    width: 15em;
    min-width: 15em;
    float: left;
    text-align: left;
    padding: 2em;
    border-right: 1px solid rgba(0,0,0,.0625);
  }

  .main {
    padding: 1em 2em 2em;
    max-width: 40em;
  }
}

.face {
  width: 9em;
}